<!DOCTYPE html>
<html>
<head>
    <title>WIT | {% block title %}Home{% endblock %}</title>
</head>
<body>
    {% extends "master.html" %}
    {% block content %}
<div class="content">
    <img src="../static/img/profile.png" alt="Profile Pic" width="10%">
    <h3> Testing Name </h3>
    <p> ID Number: 2013-0868</p>
    <p> Course: BSCS</p>
    <p> Email: nambatac80@gmail.com</p>
    <button type="button">Edit Profile</button>
    <div class="w3-container" style="width: 100%">
        <p>Learning C++ Progress</p>
        <div class="w3-light-grey w3-round-xlarge">
            <div class="w3-container w3-blue w3-round-xlarge" style="width:25%">25%</div>
        </div><br>
        <p>Learning Processing Progress</p>
        <div class="w3-light-grey w3-round-xlarge">
            <div class="w3-container w3-blue w3-round-xlarge" style="width:68%">25%</div>
        </div><br>

    </div>
</div>
    {% endblock %}
</body>
</html>