<!DOCTYPE html>
<html lang="en">
<head>
    {% import "bootstrap/wtf.html" as wtf %}

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Topics</title>


    <link rel="stylesheet" href="{{ url_for('.static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('.static', filename='css/simple-line-icons.css') }}">
    <link rel="stylesheet" href="{{ url_for('.static', filename='css/font-awesome.min.css') }}">
    <link rel = "stylesheet" href="../static/css/style1.css">
</head>
<body>
    <div class="container-fluid">
        <div class="col-sm-8 col-sm-offset-2 text-center">
            <br><br><br><br><br><br><br>
            <form method="POST" name="add">
                {{ form.hidden_tag() }}
                {{ wtf.form_field(form.topicname) }}
                {{ wtf.form_field(form.topicdisc) }}
                {{ wtf.form_field(form.courseid) }}
                <button class="btn btn-primary pull-right" type="submit">Submit</button>
                <div class="clearfix"></div>
            </form>
        </div>
    </div>
</body>
</html>