<!DOCTYPE html>
<html>
{% extends "admin_master.html" %}
<head>
  <title>{% block title %}Exams{% endblock %}</title>
    <style>
        .panel{
            width:500px; !important;
            height: auto !important;
            margin: 0px;
            font-size: 20px;
        }
    </style>
</head>
<body>
{% block content %}
<div class="main">
    <div class="container-fluid">
        <div class="row">
        <nav class="breadcrumb">
          <a class="breadcrumb-item" href="{{ url_for('showadmindashboard') }}">Home</a>
              <span class="glyphicon glyphicon-menu-right marginicon"></span>
          <a class="breadcrumb-item" href="{{ url_for('managecourses') }}">Manage Courses</a>
              <span class="glyphicon glyphicon-menu-right marginicon"></span>
          <a class="breadcrumb-item" href="/admin/{{coursename}}">{{ coursename }}</a>
              <span class="glyphicon glyphicon-menu-right marginicon"></span>
          <a class="breadcrumb-item" href="/admin/{{coursename}}/manageexams">Manage Exams</a>
            <span class="glyphicon glyphicon-menu-right marginicon"></span>
          <a class="breadcrumb-item" href="/admin/{{coursename}}/manageexams">{{ examid }}</a>
             <span class="glyphicon glyphicon-menu-right marginicon"></span>
          <a class="breadcrumb-item" href="/admin/{{coursename}}/manageexams/{{examid}}/managequestions">Manage Questions</a>
          <span class="breadcrumb-item active">Add Questions</span>
        </nav>
        <div class="content" style="margin: 100px 20px 20px 20px;">
        <h6>Questions</h6>
                                          </a><br>
            <div class="col-md-12">
                <div class="panel panel-default pull-left">
                 <div class="panel-heading">
                    <h3 class="panel-title">
                        Questions in exam
                    </h3>
                 </div>
                <div class="panel-body">
                        {% for question in examquestions %}
                            <form action="{{url_for('manageExamQuestions',coursename=coursename, examid=examid)}}" method="POST">
                                    <button type="submit" name="action" value="{{ question.questionid }}" id="deletequestion" class="btn btn-danger btn-xs confirmation">
                                        <span class="glyphicon glyphicon-minus"></span>Remove
                                    </button>
                                    {{loop.index}}<span>. </span> {{question.question}}
                            </form>
                        {% endfor %}
                </div>
                </div>
                <div class="panel panel-default pull-left">
                     <div class="panel-heading">
                        <h3 class="panel-title">
                            Questions in database
                        </h3>
                     </div>
                        <div class="panel-body">
                            {% for question in questions %}
                                <form action="{{url_for('addExamQuestions',coursename=coursename, examid=examid)}}", method="POST">
                                        <button type="submit" value="{{ question.questionid }}" name="action" id="removequestion" class="btn btn-danger btn-xs">
                                            <span class="glyphicon glyphicon-plus"></span>Add
                                        </button>
                                    {{loop.index}}<span>. </span> {{question.question}}
                                </form>
                            {% endfor %}
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
</body>
</html>