<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Admin Dashboard</title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('.static', filename='css/bootstrap.min.css') }}">
    <link type="text/css" rel="stylesheet prefetch" href="{{ url_for('.static', filename='css/materialize.min.css') }}">
    <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/icon?family=Material+Icons'>
    <link type="text/css" rel="stylesheet" href="css/style.css">
    <link type="text/css" rel="stylesheet" href="..static/css/style.css">
    <link type="text/css" rel="stylesheet" href="{{ url_for('.static', filename='css/styleadmin.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ url_for('.static', filename='css/adminstylenew.css')}}">
</head>

<body>
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper blue">
                <ul>
                    <li><a href="#!" onclick="return hideshow();"><i class="material-icons">menu</i></a></li>
                    <li>
                        <a href="{{ url_for('showadmindashboard') }}" class="title"><img src="{{ url_for('.static', filename='img/wit_logo2.png')}}"></a>
                    </li>
                </ul>
                <ul class="right">
                    <li class="dropdown">
                        <a href="#" id=#signout class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">arrow_drop_down</i>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ url_for('logout')}}">Log-out</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="brown hide" style="height: 200px;"></div>
    <ul id="hidemenu" class="side-nav fixed transparent z-depth-0">
        <li class="active"><a href="{{ url_for('showadmindashboard') }}"><i class="material-icons blue-text text-darken-1">dashboard</i>Dashboard</a></li>
        <li><a href="{{ url_for('adminList')}}"><i class="material-icons">supervisor_account</i>Admin</a></li>
        <li>
            <div class="divider"></div>
        </li>
        <li><a href="{{ url_for('managecourses')}}"><i class="material-icons">school</i>Courses</a></li>
        <li><a href="{{ url_for('adminGames')}}"><i class="material-icons">games</i>Games</a></li>
        <li><a href="{{url_for('manageUsers')}}"><i class="material-icons">person</i>Users</a></li>
    </ul>
    <div class="main">
        <div class="container-fluid">
            <div class="row">
                <nav class="breadcrumb">
                    <a class="breadcrumb-item" href="{{ url_for('showadmindashboard') }}">Home</a>
                    <span class="glyphicon glyphicon-menu-right marginicon"></span>
                    <a class="breadcrumb-item" href="{{ url_for('adminList') }}">Manage Admin</a>
                    <span class="glyphicon glyphicon-menu-right marginicon"></span>
                    <a class="breadcrumb-item active">Edit admin</a>
                </nav>
                <h2 class="margin">Add new admin</h2>

                <form name="addForm" id="addForm" action="{{ url_for('editAdmin', username=user.username) }}" method="POST">
                    <div class="form-group floating-label-form-group controls">
                        <h4>Username</h4>
                        <input type="text" class="form-control" value="user.username" name=username id=username required data-validation-required-message="Please enter the name of the course.">
                        <br />
                        <h4>User Email</h4>
                        <input type="text" class="form-control" value="user.usermail" name=usermail id=usermail required data-validation-required-message="Please enter the name of the course.">
                        <br />
                        <h4>Password</h4>
                        <input type="text" class="form-control" value="user.password" name=password id=password required data-validation-required-message="Please enter the name of the course.">
                        <br />
                    </div>
                    <button type="submit" name="edit_admin" id="edit_admin" class="btn btn-info btn-med pull-right">
                    Submit
                </button>
                </form>
            </div>

        </div>
    </div>
    </div>
    <script src="{{ url_for('.static', filename='js/jquery.min.js')}}"></script>
    <script src="{{ url_for('.static', filename='js/bootstrap.min.js')}}"></script>
    <script src="{{ url_for('.static', filename='js/materialize.min.js')}}"></script>
    <script>
        function hideshow() {
            var x = document.getElementById("hidemenu");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }
    </script>


</body>

</html>