<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width = device-width, initial-scale=1">
    <title>Manage Courses</title>

    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('.static', filename='css/adminbootstrap.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('.static', filename='css/adminstyle.css') }}">
    <link rel="stylesheet" type="text/css" href="../static/css/adminbootstrap.css">
    <link rel="stylesheet" type="text/css" href="../static/css/adminstyle.css">
</head>
<body>


<div class="container">
    <nav class="navbar navbar-default">
            <div class="container-fluid">


              <div class="navbar-header">


                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">


                  <span class="sr-only"></span>


                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>


                <a class="pull-left" href="{{ url_for('showadmindashboard') }}" id="logo"><img src="{{ url_for('.static', filename='img/wit_logo.png') }}"></a>

              </div>


              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Courses<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="#">Discussions</a></li>
                      <li><a href="{{ url_for('managecourses') }}">Courses</a></li>
                        <li><a href="#">Topics</a></li>
                      <li><a href="#">Exams</a></li>
                      <li><a href="#">Exercises</a></li>
                    </ul>
                  </li>
                    <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Manage Games<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                          <li><a href="#">Typing Game</a></li>
                          <li><a href="#">Matching Game</a></li>
                        <li><a href="#">Impossible Game</a></li>
                    </ul>
                  </li>
                    <li><a href="#">Users</a></li>
                </ul>
                  <ul class="nav navbar-nav pull-right">
                      <li><a id="admin" href="#">Admin</a></li>
                      <li class="dropdown">
                        <a href="#" id=#signout class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <span class="glyphicon glyphicon-triangle-bottom"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Sign-out</a></li>
                        </ul>
                      </li>
                  </ul>
              </div>
            </div>
    </nav>

<div class="jumbotron">
    <div class="container-course">
        <nav class="breadcrumb">
          <a class="breadcrumb-item" href="{{ url_for('showadmindashboard') }}">Home</a>
             <span class="glyphicon glyphicon-menu-right marginicon"></span>
          <a class="breadcrumb-item" href="{{ url_for('managecourses') }}">Manage Courses</a>
             <span class="glyphicon glyphicon-menu-right marginicon"></span>
          <a class="breadcrumb-item" href="/admin/{{coursename}}">{{ coursename }}</a>
             <span class="glyphicon glyphicon-menu-right marginicon"></span>
          <a class="breadcrumb-item" href="/admin/{{coursename}}/manageexams">Manage Exams</a>
            <span class="glyphicon glyphicon-menu-right marginicon"></span>
          <a class="breadcrumb-item" href="/admin/{{coursename}}/manageexams">{{ exam.examtype }}</a>
            <span class="glyphicon glyphicon-menu-right marginicon"></span>
          <span class="breadcrumb-item active">Manage Questions</span>

        </nav>
        <h2>Manage Questions</h2>
            <div class="control-group">
                <table class="table table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                            <a href="{{ url_for('addExamQuestion', coursename=coursename, examid=exam.examid) }}" class="btn btn-info btn-med">
                                <span class="glyphicon glyphicon-plus"></span> Add a question
                            </a>
                        </tr>
                    </thead>
                </table>
                {% for question in questions %}
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                 {{ question.question }}
                            </h3>
                            <h3 class="pull-right">
                                <a href="{{ url_for('editExamQuestion', coursename=coursename, examid=exam.examid, questionid=question.questionid, choices=question.choices) }}">
                                        <button type="submit" name="editquestion" id="editquestion" class="btn btn-primary btn-med">
                                            <span class="glyphicon glyphicon-edit"></span> Edit
                                        </button>
                                </a>
                                <a href="{{ url_for('deleteExamQuestion', coursename=coursename, examid=exam.examid, questionid=question.questionid) }}">
                                        <button type="submit" name="deletequestion" id="deletequestion" class="btn btn-primary btn-med confirmation">
                                            <span class="glyphicon glyphicon-trash"></span> Delete
                                        </button>
                                </a>
                            </h3>
                        </div>
                        <div class="panel-body">
                            Difficulty: {{ question.difficulty }}
                            <br/>
                            Choices:
                            <br/>
                            <ul>
                                {% for choice in question.choices %}
                                        <li><a>{{ choice.choice }}</a></li>
                                {% endfor %}
                            </ul>
                            Answer: {{ question.answer }}
                            <br/>
                        </div>
                    </div>
                {% endfor %}
            </div>

    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script type="text/javascript">
        var elems = document.getElementsByClassName('confirmation');
        var confirmIt = function (e) {
            if (!confirm('Are you sure?')) e.preventDefault();
        };
        for (var i = 0, l = elems.length; i < l; i++) {
            elems[i].addEventListener('click', confirmIt, false);
        }
</script>
</body>
</html>