<!DOCTYPE html>
<html>
{% extends "admin_master.html" %}
<head>
    <title>{% block title %}Courses{% endblock %}</title>
</head>
<body>
{% block content %}
<div class="main">
        <div class="container-fluid">
            <div class="row">
                <nav class="breadcrumb">
                    <a class="breadcrumb-item" href="{{ url_for('showadmindashboard') }}">Home</a>
                    <span class="glyphicon glyphicon-menu-right marginicon"></span>
                    <a class="breadcrumb-item" href="{{ url_for('managecourses') }}">Manage Courses</a>
                    <span class="glyphicon glyphicon-menu-right marginicon"></span>
                    <a class="breadcrumb-item active">Add a Course</a>
                </nav>
                <h2 class="margin">Add a course</h2>

                <form name="addForm" id="addForm" action="{{ url_for('addcourse') }}" method="POST">
                    <div class="form-group floating-label-form-group controls">
                        <h6>Course Name</h6>
                        <input type="text" class="form-control" placeholder="Course name" name=coursename id=coursename required data-validation-required-message="Please enter the name of the course.">
                        <br />
                        <br />
                        <h6>Description</h6>
                        <input type="text" class="form-control" placeholder="Description" name=description id=description required data-validation-required-message="Please enter the description.">
                        <br />
                        <br />
                    </div>
                    <button type="submit" name="add_course" id="add_course" class="btn btn-info btn-med pull-right">
                    Submit
                </button>
                </form>
            </div>

        </div>
    </div>
    </div>
{% endblock %}
</body>
</html>