<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width = device-width, initial-scale=1">
    <title>Edit Exam Question</title>

    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('.static', filename='css/adminbootstrap.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('.static', filename='css/adminstyle.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('.static', filename='css/adminaddcourse.css') }}">

</head>
<body>


<div class="container">
    <nav class="navbar navbar-default">
            <div class="container-fluid">


              <div class="navbar-header">


                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">


                  <span class="sr-only"></span>


                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>


                <a class="pull-left" href="{{ url_for('showadmindashboard') }}" id="logo"><img src="{{ url_for('.static', filename='img/wit_logo.png') }}"></a>

              </div>


              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                  <li class="dropdown">
                       <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Courses<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="#">Discussions</a></li>
                      <li><a href="{{ url_for('managecourses') }}">Courses</a></li>
                     <li><a href="#">Topics</a></li>
                      <li><a href="#">Exams</a></li>
                      <li><a href="#">Exercises</a></li>
                    </ul>
                  </li>
                    <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Manage Games<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                          <li><a href="#">Typing Game</a></li>
                          <li><a href="#">Matching Game</a></li>
                        <li><a href="#">Impossible Game</a></li>
                    </ul>
                  </li>
                    <li><a href="#">Users</a></li>
                </ul>
                  <ul class="nav navbar-nav pull-right">
                      <li><a id="admin" href="#">Admin</a></li>
                      <li class="dropdown">
                        <a href="#" id=#signout class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <span class="glyphicon glyphicon-triangle-bottom"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Sign-out</a></li>
                        </ul>
                      </li>
                  </ul>
              </div>
            </div>
    </nav>
<div class="jumbotron">
    <div class="container-course">
        <nav class="breadcrumb">
            <a class="breadcrumb-item" href="{{ url_for('showadmindashboard') }}">Home</a>
                <span class="glyphicon glyphicon-menu-right marginicon"></span>
            <a class="breadcrumb-item" href="{{ url_for('managecourses') }}">Manage Courses</a>
                <span class="glyphicon glyphicon-menu-right marginicon"></span>
            <a class="breadcrumb-item" href="/admin/{{coursename}}">{{ coursename }}</a>
                 <span class="glyphicon glyphicon-menu-right marginicon"></span>
            <a class="breadcrumb-item" href="/admin/{{coursename}}/manageexams">Manage Exams</a>
                <span class="glyphicon glyphicon-menu-right marginicon"></span>
            <a class="breadcrumb-item" href="/admin/{{coursename}}/manageexams">{{ exam.examtype }}</a>
                <span class="glyphicon glyphicon-menu-right marginicon"></span>
            <span class="breadcrumb-item active">Edit exam question</span>

        </nav>
        <h2 class="margin">Add a Question</h2>
        <div class="control-group">
            <form name="addForm" id="addForm" action="{{ url_for('editExamQuestion', coursename=coursename, examid=exam.examid, questionid=question.questionid) }}" method="POST">
                <div class="form-group floating-label-form-group controls">
                    <h4>Question</h4>
                    <input type="text" class="form-control" value="{{ question.question }}" name=question id=question required data-validation-required-message="Please enter the question.">
                    <h4>Choices</h4>
                    <input type="text" class="form-control" placeholder="choice" value="{{question.choices[0].choice}}" name=choices1 id=choices1 required data-validation-required-message="Please enter a choice.">
                    <input type="text" class="form-control" placeholder="choice" value="{{question.choices[1].choice}}" name=choices2 id=choices2 required data-validation-required-message="Please enter a choice.">
                    <input type="text" class="form-control" placeholder="choice" value="{{question.choices[2].choice}}" name=choices3 id=choices3 required data-validation-required-message="Please enter a choice.">

                    <h4>Answer</h4>
                    <input type="text" class="form-control" value="{{ question.answer }}" name=answer id=answer required data-validation-required-message="Please enter the answer.">

                    <label for="difficulty"><h4>Difficulty</h4></label>
                        <select class="form-control" id="difficulty" name=difficulty>
                            <option value="{{ question.difficulty }}" selected>{{ question.difficulty }}</option>
                            <option value="Easy">Easy</option>
                            <option value="Moderate">Moderate</option>
                            <option value="Hard">Hard</option>
                        </select>
                <button type="submit" name="add_course" id="add_course" class="btn btn-info btn-med pull-right">
                    Submit
                </button>
            </form>
        </div>

    </div>
</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>


</body>
</html>