<!DOCTYPE html>
<html>
{% extends "admin_master.html" %}
<head>
    <title>{% block title %}Admins{% endblock %}</title>
</head>
<body>
{% block content %}
<div class="main">
        <div class="container-fluid">
            <div class="row">
                <nav class="breadcrumb">
                    <a class="breadcrumb-item" href="{{ url_for('showadmindashboard') }}">Home</a>
                    <span><span class="glyphicon glyphicon-menu-right marginicon"></span></span>
                    <a class="breadcrumb-item active">Admin</a>
                </nav>
                <h2>Manage Admin</h2>
                <table class="table table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                            <a href="{{ url_for('addAdmin') }}" class="btn btn-info btn-med">
                                <span class="glyphicon glyphicon-plus"></span> Add new admin
                            </a>
                        </tr>
                    </thead>
                </table>
                <div class="col s12 m12 l12">
                    <div class="card">
                        <table class="bordered highlight">
                            <thead>
                                <tr>
                                    <th colspan="4">Username</th>
                                    <th colspan="4">User Email</th>
                                    <th colspan="4"></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for user in users %}
                                <tr>
                                    <td colspan="4">{{user.username}}</td>
                                    <td colspan="4">{{user.usermail}}</td>
                                    <td colspan="4">
                                        <div class="pull-right">
                                            <form class="" action="/admin/adminlist/editadmin/{{ user.username }}">
                                                <button type="submit" name="editcourse" id="editcourse" class="btn btn-primary btn-xs">
                                  <span class="glyphicon glyphicon-edit"></span> Edit
                              </button>
                                            </form>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                    </div>
                    </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    </div>
    <script src="{{ url_for('.static', filename='js/jquery.min.js')}}"></script>
    <script src="{{ url_for('.static', filename='js/bootstrap.min.js')}}"></script>
    <script src="{{ url_for('.static', filename='js/materialize.min.js')}}"></script>
    <script>
        function hideshow() {
            var x = document.getElementById("hidemenu");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }
    </script>
    <script type="text/javascript">
        var elems = document.getElementsByClassName('confirmation');
        var confirmIt = function(e) {
            if (!confirm('Are you sure?')) e.preventDefault();
        };
        for (var i = 0, l = elems.length; i < l; i++) {
            elems[i].addEventListener('click', confirmIt, false);
        }
    </script>
{% endblock %}
</body>
</html>