<!DOCTYPE html>
<html>
{% extends "admin_master.html" %}
<head>
	<title>{% block title %}Admins{% endblock %}</title>
</head>
<body>
{% block content %}
<div class="main">
        <div class="container-fluid">
            <div class="row">
                <nav class="breadcrumb">
                    <a class="breadcrumb-item" href="{{ url_for('showadmindashboard') }}">Home</a>
                    <span class="glyphicon glyphicon-menu-right marginicon"></span>
                    <a class="breadcrumb-item" href="{{ url_for('adminList') }}">Manage Admin</a>
                    <span class="glyphicon glyphicon-menu-right marginicon"></span>
                    <a class="breadcrumb-item active">Add new admin</a>
                </nav>
                <h2 class="margin">Add new admin</h2>

                <form name="addForm" id="addForm" action="{{ url_for('addAdmin') }}" method="POST">
                    <div class="form-group floating-label-form-group controls">
                        <h4>Username</h4>
                        <input type="text" class="form-control" placeholder="Username" name=username id=username required data-validation-required-message="Please enter the name of the course.">
                        <br />
                        <h4>User Email</h4>
                        <input type="text" class="form-control" placeholder="User Email" name=usermail id=usermail required data-validation-required-message="Please enter the name of the course.">
                        <br />
                        <h4>Password</h4>
                        <input type="text" class="form-control" placeholder="Password" name=password id=password required data-validation-required-message="Please enter the name of the course.">
                        <br />
                    </div>
                    <button type="submit" name="add_admin" id="add_admin" class="btn btn-info btn-med pull-right">
                    Submit
                </button>
                </form>
            </div>

        </div>
    </div>
    </div>
{% endblock %}
</body>
</html>