<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Admin Dashboard</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="{{ url_for('.static', filename='css/bootstrap.min.css') }}">
    <link type="text/css" rel="stylesheet prefetch" href="{{ url_for('.static', filename='css/materialize.min.css') }}">
    <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/icon?family=Material+Icons'>
    <link type="text/css" rel="stylesheet" href="css/style.css">
    <link type="text/css" rel="stylesheet" href="..static/css/style.css">
    <link type="text/css" rel="stylesheet" href="{{ url_for('.static', filename='css/styleadmin.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ url_for('.static', filename='css/adminstylenew.css')}}">

</head>

<body>
  <div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper blue">
      <ul>
        <li><a href="#!" onclick="return hideshow();"><i class="material-icons">menu</i></a></li>
        <li><a href="{{ url_for('showadmindashboard') }}" class="title"><img src="{{ url_for('.static', filename='img/wit_logo2.png')}}"></a></li>
      </ul>
      <ul class="right">
          <li class="dropdown">
            <a href="#" id=#signout class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <i class="material-icons">arrow_drop_down</i>
            </a>
            <ul class="dropdown-menu">
                <li><a href="{{ url_for('logout')}}">Log-out</a></li>
            </ul>
          </li>
      </ul>
    </div>
  </nav>
</div>
<div class="brown hide" style="height: 200px;"></div>
<ul id="hidemenu" class="side-nav fixed transparent z-depth-0">
    <li class="active"><a href="{{ url_for('showadmindashboard') }}"><i class="material-icons blue-text text-darken-1">dashboard</i>Dashboard</a></li>
    <li><a href="{{ url_for('adminList')}}"><i class="material-icons">supervisor_account</i>Admin</a></li>
  <li><div class="divider"></div></li>
    <li><a href="{{ url_for('managecourses')}}"><i class="material-icons">school</i>Courses</a></li>
  <li><a href="{{ url_for('adminGames')}}"><i class="material-icons">games</i>Games</a></li>
    <li><a href="{{url_for('manageUsers')}}"><i class="material-icons">person</i>Users</a></li>
</ul>

<div class="main">
    <div class="container-fluid">
        <div class="row">
        <nav class="breadcrumb">
          <a class="breadcrumb-item" href="{{ url_for('showadmindashboard') }}">Home</a>
             <span class="glyphicon glyphicon-menu-right marginicon"></span>
          <a class="breadcrumb-item" href="{{ url_for('managecourses') }}">Manage Courses</a>
            <span class="glyphicon glyphicon-menu-right marginicon"></span>
          <a class="breadcrumb-item" href="/admin/{{coursename}}">{{ coursename }}</a>
              <span class="glyphicon glyphicon-menu-right marginicon"></span>
          <span class="breadcrumb-item active">Manage Topics</span>
        </nav>
        <h2>Manage Topics</h2>

                <table class="table table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                            <a href="{{ url_for('addtopic', coursename=coursename) }}" class="btn btn-info btn-med">
                                <span class="glyphicon glyphicon-plus"></span> Add a topic
                            </a>
                        </tr>
                    </thead>
                </table>
                {% for topic in topics %}
                <div class="col s12 m12">
                    <div class="card blue white-text">
                        <div class="card-content valign-wrapper">
                            <div class="card-text">
                              <h6>{{loop.index}}<span>. </span> {{topic.topicname}}</h6>
                              <p>{{ topic.topicdisc}}</p>
                            </div>
                            <div class="card-icon">
                              <i class="material-icons medium valign">description</i>
                            </div>
                        </div>
                        <div class="card-action">
                            <a href="/admin/{{ coursename }}/managetopics/{{ topic.topicname }}/manageexercises">View {{topic.topicname}}</a>
                            <h3 class="card-button pull-right">
                                <span class="pull-right">
                                    <form class="confirmation" method='POST' action="/admin/{{ coursename }}/managetopics/deletetopic/{{ topic.topicid }}">
                                        <button type="submit" name="removetopic" id="removetopic" class="btn btn-info btn-sm">
                                            <span class="glyphicon glyphicon-trash"></span> Delete
                                        </button>
                                    </form>
                                </span>
                                <span class="pull-right">
                                    <form class="" action="/admin/{{ coursename }}/managetopics/edittopic/{{ topic.topicid }}">
                                        <button type="submit" name="editcourse" id="editcourse" class="btn btn-info btn-sm">
                                            <span class="glyphicon glyphicon-edit"></span> Edit
                                        </button>
                                    </form>
                                </span>
                                <span class="pull-right">
                                    <form class="" action="/admin/{{ coursename }}/managetopics/{{ topic.topicname }}/manageexercises">
                                        <button type="submit" name="manageexercises" id="manageexercises" class="btn btn-info btn-sm">
                                            Manage Exercises
                                        </button>
                                    </form>
                                </span>
                            </h3>
                        </div>
                    </div>
                </div>
                {% endfor %}
                </div>
            </div>
    </div>
</div>

<script src="{{ url_for('.static', filename='js/jquery.min.js')}}"></script>
  <script src="{{ url_for('.static', filename='js/bootstrap.min.js')}}"></script>
  <script src="{{ url_for('.static', filename='js/materialize.min.js')}}"></script>
  <script>
      function hideshow() {
    var x = document.getElementById("hidemenu");
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
    }
  </script>
<script type="text/javascript">
        var elems = document.getElementsByClassName('confirmation');
        var confirmIt = function (e) {
            if (!confirm('Are you sure?')) e.preventDefault();
        };
        for (var i = 0, l = elems.length; i < l; i++) {
            elems[i].addEventListener('click', confirmIt, false);
        }
</script>
</body>
</html>