<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Admin Dashboard</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="{{ url_for('.static', filename='css/bootstrap.min.css') }}">
    <link type="text/css" rel="stylesheet prefetch" href="{{ url_for('.static', filename='css/materialize.min.css') }}">
    <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/icon?family=Material+Icons'>
    <link type="text/css" rel="stylesheet" href="css/style.css">
    <link type="text/css" rel="stylesheet" href="..static/css/style.css">
    <link type="text/css" rel="stylesheet" href="{{ url_for('.static', filename='css/style.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ url_for('.static', filename='css/adminstylenew.css')}}">

</head>

<body>
  <div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper blue">
      <ul>
        <li><a href="#!" onclick="return hideshow();"><i class="material-icons">menu</i></a></li>
        <li><a href="{{ url_for('showadmindashboard') }}" class="title"><img src="../static/img/wit_logo.png"></a></li>
      </ul>
      <ul class="right">
          <li class="dropdown">
            <a href="#" id=#signout class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <i class="material-icons">arrow_drop_down</i>
            </a>
            <ul class="dropdown-menu">
                <li><a href="{{ url_for('logout')}}">Log-out</a></li>
            </ul>
          </li>
      </ul>
    </div>
  </nav>
</div>
<div class="brown hide" style="height: 200px;"></div>
<ul id="hidemenu" class="side-nav fixed transparent z-depth-0">
    <li class="active"><a href="{{ url_for('showadmindashboard') }}"><i class="material-icons blue-text text-darken-1">dashboard</i>Dashboard</a></li>
    <li><a href="{{ url_for('adminList')}}"><i class="material-icons">supervisor_account</i>Admin</a></li>
  <li><div class="divider"></div></li>
    <li><a href="{{ url_for('managecourses')}}"><i class="material-icons">school</i>Courses</a></li>
  <li><a href="#"><i class="material-icons">games</i>Games</a></li>
    <li><a href="{{url_for('manageUsers')}}"><i class="material-icons">person</i>Users</a></li>
</ul>

<div class="main">
  <div class="container-fluid">
    <div class="row">
        <nav class="breadcrumb">
          <a class="breadcrumb-item" href="{{ url_for('showadmindashboard') }}">Home</a>
            <span><span class="glyphicon glyphicon-menu-right marginicon"></span></span>
          <a class="breadcrumb-item active">Manage Courses</a>
        </nav>
        <h2>Manage Courses</h2>
        <table class="table table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                            <a href="{{ url_for('addcourse') }}" class="btn btn-info btn-med">
                                <span class="glyphicon glyphicon-plus"></span> Add a course
                            </a>
                        </tr>
                    </thead>
        </table>
        {% for course in courses %}
      <div class="col s12 m4">
        <div class="card blue white-text">
          <div class="card-content valign-wrapper">
            <div class="card-text">
              <h6>{{loop.index}} {{course.coursename}}</h6>
              <p>Course ID: {{ course.courseid }}
                  <br/>
                  Description: {{ course.coursedesc }}
              </p>
            </div>
            <div class="card-icon">
              <i class="material-icons medium valign">book</i>
            </div>
          </div>
          <div class="card-action">
            <a href="{{ url_for('coursePage', coursename=course.coursename)}}">View {{course.coursename}}</a>
              <div class="card-button pull-right">
                  <span class="pull-left">
                  <form class="confirmation" method='POST' action="/admin/managecourses/removecourse/{{ course.courseid }}">
                    <button type="submit" name="removecourse" id="removecourse" class="btn btn-primary btn-xs">
                        <span class="glyphicon glyphicon-trash"></span> Delete
                    </button>
                  </form>
                  </span>
                  <span class="pull-right">
                    <form class="" action="/admin/managecourses/editcourse/{{ course.courseid }}">
                        <button type="submit" name="editcourse" id="editcourse" class="btn btn-primary btn-xs">
                            <span class="glyphicon glyphicon-edit"></span> Edit
                        </button>
                    </form>
                  </span>
                    </div>
                </div>
              </div>
          </div>
        {% endfor %}
    </div>
</div>

<script src="{{ url_for('.static', filename='js/jquery.min.js')}}"></script>
  <script src="{{ url_for('.static', filename='js/bootstrap.min.js')}}"></script>
  <script src="{{ url_for('.static', filename='js/materialize.min.js')}}"></script>
    <script>
      function hideshow() {
    var x = document.getElementById("hidemenu");
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
    }
  </script>
<script type="text/javascript">
        var elems = document.getElementsByClassName('confirmation');
        var confirmIt = function (e) {
            if (!confirm('Are you sure?')) e.preventDefault();
        };
        for (var i = 0, l = elems.length; i < l; i++) {
            elems[i].addEventListener('click', confirmIt, false);
        }
</script>
</body>
</html>