.<!DOCTYPE html>
<html>
<head>
	<title>Typing Game</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<link rel="stylesheet" href="../static/css/typing_game.css">
	<style>
	canvas {
		display: inline;
		background-image: url("../static/img/typing_game_background.jpg");
		background-position: 755px 964px;
		background-size: 1780px 1680px;
		position: absolute;
    	top:0;
    	bottom: 0;
    	left: 0;
    	right: 0;
		margin: 130px auto auto auto;
	}
	#myCanvas{
		background-image: url("../static/img/typing_game_background.jpg");
	}
	</style>
</head>
<body>
	<header>
        <div class="container">
				<a href=#Home><img src="../static/img/wit_logo.png" alt="wit logo" class="logo"></a>
				<div class="navigation">
                <nav>
					
                    <ul>
                        <li><a href=#home>Home</a>
                        <li><a href=#About>About</a></li>    
						<li><a href=#myCourses>My Courses</a></li>
						<li><a href=#Games>Games</a></li>
                        <div class="profile">
                        <a href=#profile><img src=../static/img/adminprofile.jpg alt="Profile" id=avatar></a>
                        </div>
                        <div class="dropdownp">
                        <button type="submit" onclick="showsignout()" class="drpbtn">
                                <img src="../static/img/dropdownimg2.png" class="signout">
                        </button>

                            <div id="dropdownp-id" class="dropdownp-content">
                                    <a href="#signout">Sign-out</a>
                            </div>
                        </div>
					</ul>	
				</nav>
			</div>
        </div>

    </header>
	<div id="myCanvas" class="main" width="480" height="320">
		<div id="main">
			<a href=#home><img id="logo" src="../static/img/logo.png"/></img></a>
			<div id="titlep"><p>Typing Game</p></div>
			<button id="play"><p>PLAY</p></button>
			<button id="credits"><p>CREDITS</p></div>
		</div>
	</div>
	
	
<script>

	var q = ["Initialize an integer array with name 'arr' and size 10.", "What operation gets the remainder of two numbers?"];
	var a = ["int arr[10];", "modulo"];
	var question;
	var answer;
	var entry = "";
	var swtch = false;
	var score = 0;
	var main = document.getElementById('myCanvas');
	var play = document.getElementById('play')
	var i=0;

	function hide(el){
		el.style.display = 'none';
	}

	function show(el){
		el.style.display = 'block';
	}
	function mainMenu(){
		show(main);
	}
	play.onclick= function() {
		hide(main);
		loadGame();
	}
	var colors = [
		'rgb(27,94,32)', // dark green
        'rgb(67,160,71)', // med green
		'rgb(102,187,106)', // light green
		'rgb(41,182,246)', // light blue
        'rgb(25,118,210)', // med blue
		'(8,22,29)', // dark blue
		'rgb(255,213,79)', // light yellow
        'rgb(255,193,7)', // med yellow
		'rgb(255,160,0)', // dark yellow
		'rgb(255,112,67)', // light orange
        'rgb(255,87,34)', // med orange
		'rgb(216,67,21)', // dark orange
		'rgb(126,87,194)', // light indigo
        'rgb(94,53,177)', // med indigo
		'rgb(69,39,160)', // dark indigo
		'rgb(171,71,188)', // light violet
        'rgb(142,36,170)', // med violet
        'rgb(74,20,140)', // dark violet
		'rgb(239,83,80)', // light red
        'rgb(211,47,47)', // med red
        'rgb(183,28,28)', // dark red
	];
		

	
	// the following function stores the user's input and checks it
document.onkeypress = function (e) {
  
  var keyPress;

  if (typeof event !== 'undefined') {
    keyPress = event.keyCode;
    if (keyPress == 13) {
    	checkAns();
    	entry = "";
    }
    else {
    	entry += String.fromCharCode(keyPress);
    }
  }
  else if (e) {
    keyPress = e.which;
  }
  
  return false;   // Prevents the default action
};
// the following function compares entry and answer
function checkAns() {
	if (entry == answer)
		swtch = true;
	else
		swtch = false;
	
}
// the following function sets question and corresponding answer
function setQA() {
	// to be changed into randow indeces
	question = q[0];
	answer = a[0];
}
// initializes the game and game elements
function loadGame() {
	setQA();
	GameArea.start();
	Q = new stringDrop();
}
// this function generates what you can see
var GameArea = {
		canvas : document.createElement("canvas"),
		textarea : document.createElement("textarea"),
		start : function() {
			this.canvas.width = window.innerWidth * 0.9;
			this.canvas.height = window.innerHeight * 0.9;
			this.context = this.canvas.getContext("2d");
			this.context.font = "20pt Century Gothic";
			this.context.fillStyle = colors[i];
			this.context.fillText("Score: " + score, 15, 30);
			this.context.fillText(entry, 150, GameArea.canvas.height*0.9);
			this.context.beginPath();
			this.context.moveTo(0, GameArea.canvas.height*0.8);
			this.context.lineTo(GameArea.canvas.width, GameArea.canvas.height*0.8);
			this.context.strokeStyle = "white";
			this.context.stroke();
			document.body.insertBefore(this.canvas, document.body.childNodes[0]);
			this.interval = setInterval(updateGameArea, 20);
		},
		clear : function() {
        	this.context.clearRect(0, 0, this.canvas.width, this.canvas.height);
        	this.context.font = "20pt Century Gothic";
			this.context.fillStyle = colors[i];
			this.context.fillText("Score: " + score, 15, 30);
			this.context.fillText(entry, 150, GameArea.canvas.height*0.9);
			this.context.beginPath();
			this.context.moveTo(0, GameArea.canvas.height*0.8);
			this.context.lineTo(GameArea.canvas.width, GameArea.canvas.height*0.8);
			this.context.strokeStyle = "white";
			this.context.stroke();
		}
	}

function updateGameArea() {
	GameArea.clear();
	Q.update();
	Q.drop();
	Q.check();
}

function stringDrop() {
		this.context = GameArea.context;
		this.dropSpeed = 0.1;
		this.initialYpos = 60;
		this.initialXpos = 50 + Math.floor((Math.random() * GameArea.canvas.width/4));
	this.update = function() {
		this.context.font = "20px Arial";
		this.context.fillStyle = colors[i];
		this.context.fillText(question, this.initialXpos, this.initialYpos);
	}
	this.reset = function() {
		this.initialYpos = 60;
		this.initialXpos = 50 + Math.floor((Math.random() * GameArea.canvas.width/4));
		setQA();
	}
	this.drop = function() {
		this.initialYpos += this.dropSpeed;
	}
	this.check = function() {
		if ((this.initialYpos) >= GameArea.canvas.height * 0.8) {
			//context = GameArea.context;
			//context.font = "50px Arial";
			//context.fillStyle = "Red";
			//context.fillText("YOU LOSE", GameArea.canvas.width/2, GameArea.canvas.height/2);
			this.reset();
		}
		else {
			if (swtch == true) {
				this.reset();
				score++;
				i++;
				swtch = false;
			}
		}
	}
}
</script>
<footer class="footer-distributed">
</footer>

</body>
</html>