<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/page_not_found.css">
    <link href="https://fonts.googleapis.com/css?family=Lato|Open+Sans:600|Poppins" rel="stylesheet">
</head>

<body>
    <header class="v-header"></header>
    <div class="header-content">
        <h1>:(</h1>
        <h2>Page Not Found</h2>
        <p>We cannot reach the page right now. Please try one of these instead</p>
        <a href="#form" class="btn" id="buttones">Home</a>
    </div>
    </header>

</body>

</html>