<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="../static/css/profile.css">
    <link rel="stylesheet" href="css/footer-distributed-with-address-and-phones.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link href="http://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">
    <title>Profile</title>
</head>
<header>
    <div class="container">
        <img src="../static/img/wit_logo.png" alt="WIT Logo" class="logo">
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">My Courses</a></li>
                <li><a href="#">Games </a></li>
                <li><a href="#">Profile </a></li>
            </ul>
        </nav>
    </div>
</header>

<body>

    <br>
    <div class="container1">
        <div class="profile">
            <img src="../static/img/profile.png" alt="Profile Pic" width="20%" class="image">


            <h2><b>Patrick Dale Catane</b> </h2>
            <p> <b>ID Number:</b> 2013-0868</p>
            <p> <b>Course:</b> BSCS</p>
            <p> <b>Email:</b> nambatac80@gmail.com</p>
            <button type="button">Edit Profile</button>

        </div>
        <div class="w3-container" style="width: 100%">
            <p>Learning C++ Progress</p>
            <div class="w3-light-grey w3-round-xlarge">
                <div class="w3-container w3-blue w3-round-xlarge" style="width:25%">25%</div>
            </div><br>
            <p>Learning Processing Progress</p>
            <div class="w3-light-grey w3-round-xlarge">
                <div class="w3-container w3-blue w3-round-xlarge" style="width:68%">68%</div>
            </div><br>
            <p>Learning Java Progress</p>
            <div class="w3-light-grey w3-round-xlarge">
                <div class="w3-container w3-blue w3-round-xlarge" style="width:10%">10%</div>
            </div><br>

        </div>

    </div>




    <footer class="footer-distributed">

        <div class="footer-left">

            <img src="../static/img/wit_logo.png" alt="wit logo" height="20%" ,width="20%">

            <p class="footer-links">
                <a href="#">Home</a> ·
                <a href="#">Browse Courses</a> ·
                <a href="#">Pricing</a> ·
                <a href="#">About</a> ·
                <a href="#">Faq</a> ·
                <a href="#">Contact</a>
            </p>

            <p class="footer-company-name">WIT &copy; 2017</p>
        </div>

        <div class="footer-center">

            <div>
                <i class="fa fa-map-marker"></i>
                <p><span>Tibanga</span>Iligan, Philippines</p>
            </div>

            <div>
                <i class="fa fa-phone"></i>
                <p>+639 0583 8123</p>
            </div>

            <div>
                <i class="fa fa-envelope"></i>
                <p><a href="mailto:support@company.com">support@wit.com</a></p>
            </div>

        </div>

        <div class="footer-right">

            <p class="footer-company-about">
                <span>About the company</span> Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet.
            </p>

            <div class="footer-icons">

                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-github"></i></a>

            </div>

        </div>

    </footer>

</body>

</html>