<!DOCTYPE html>
<html>

<head>
    {% block script%}
    <script type="text/javascript" src="/static/js/courses_js.js"></script>
    {% endblock %}
    <title>WIT | {% block title %}Games{% endblock %}</title>
    }
</head>

<body id="body">
    {% extends "master.html" %}
    <br>

    <h1 class="navbar-brand">

        <a href="{{ url_for('showDashboard') }}"><img src="../static/img/logo/wit_logo.png" alt="wit logo" width="100%"></a>
    </h1>

    <main class="site-content" role="main">
        <div class="cards">
            <div class="card">
                <img src="../static/img/typing.jpg">
                <div class="card-title">
                    <a href="#" class="toggle-info btn">
                        <span class="left"></span>
                        <span class="right"></span>
                    </a>
                    <h2>
                        Typing Game
                        <small>Type as fast as you can</small>
                    </h2>
                </div>

                <div class="card-flap flap1">
                    <div class="card-description">
                        This grid is an attempt to make something nice that works on touch devices. Ignoring hover states when they're not available etc.
                    </div>
                    <div class="card-flap flap2">
                        <div class="card-actions">
                            <a href="{{url_for('typing', user=user) }}" class="btn">Play Now</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <img src="../static/img/brain.png">
                <div class="card-title">
                    <a href="#" class="toggle-info btn">
                        <span class="left"></span>
                        <span class="right"></span>
                    </a>
                    <h2>
                        Memory Game
                        <small>Test your memory!</small>
                    </h2>
                </div>
                <div class="card-flap flap1">
                    <div class="card-description">
                        All of the cards are tools / languages needed for web development. Match them as fast as you can!
                    </div>
                    <div class="card-flap flap2">
                        <div class="card-actions">
                            <a href="{{ url_for('memory', user=user) }}" class="btn">Play Now</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <img src="../static/img/impossible.jpg">
                <div class="card-title">
                    <a href="#" class="toggle-info btn">
                        <span class="left"></span>
                        <span class="right"></span>
                    </a>
                    <h2>
                        Impossible Game
                        <small>You Can do it! Haha</small>
                    </h2>
                </div>
                <div class="card-flap flap1">
                    <div class="card-description">
                        This grid is an attempt to make something nice that works on touch devices. Ignoring hover states when they're not available etc.
                    </div>
                    <div class="card-flap flap2">
                        <div class="card-actions">
                            <a href="{{ url_for('impossible', user=user) }}" class="btn">Play Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js'></script>
    <script src="../static/js/index.js"></script>

</body>

</html>